<div>
  <div class="container">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5" style="padding-right:0;padding-left:0;">
            <a class="btn btn-success btn-block" routerLink="/about"><img src="../../assets/about.png" ><b>About</b></a>
          </div>
          <div class="col-md-5" style="padding-right:0;padding-left:0;">
            <a class="btn btn-success btn-block" routerLink="/syllabus"><img src="../../assets/syllabus.png" ><b>Syllabus</b></a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 40px">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="padding-right:0;padding-left:0;">
                <a class="btn btn-success btn-block" routerLink="/"><img src="../../assets/modules.png" ><b>Modules</b></a>
            </div>
            <div class="col-md-5" style="padding-right:0;padding-left:0;">
                <a class="btn btn-success btn-block" routerLink="/calender"><img src="../../assets/calender.png"><b>Calendar</b></a>
            </div>
        </div>
  </div>
</div>
