<div>
  <div class="container">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5" style="padding-right:0;padding-left:0;">
            <a class="btn btn-success btn-block" style="border-radius: 0;color:rgb(246, 250, 246);font-size: 20px;text-align: left"><img src="../../assets/about.png" style="height:20px;width:20px;padding-right: 4px"><b>About</b></a>
          </div>
          <div class="col-md-5" style="padding-right:0;padding-left:0;">
            <a class="btn btn-success btn-block" style="border-radius: 0;color:rgb(246, 250, 246);font-size: 20px;text-align: left"><img src="../../assets/syllabus.png" style="height:20px;width:20px;padding-right: 4px"><b>Syllabus</b></a>
        </div>
      </div>
      <div class="row" style="padding-bottom: 40px">
            <div class="col-md-1"></div>
            <div class="col-md-5" style="padding-right:0;padding-left:0;">
                <a class="btn btn-success btn-block" style="border-radius: 0;color:rgb(246, 250, 246);font-size: 20px;text-align: left"><img src="../../assets/modules.png" style="height:20px;width:20px;padding-right: 4px"><b>Modules</b></a>
            </div>
            <div class="col-md-5" style="padding-right:0;padding-left:0;">
                <a class="btn btn-success btn-block" style="border-radius: 0;color:rgb(246, 250, 246);font-size: 20px;text-align: left"><img src="../../assets/calender.png" style="height:20px;width:20px;padding-right: 4px"><b>Calendar</b></a>
            </div>
        </div>
  </div>
</div>
