<div class="container">
<div class="row">
  <div class="col-md-4"></div>
<h2 style="padding-bottom: 20px !important"> About the Course</h2>
</div>
<div>
  <ul>
    <li><b>Instructor: </b>Dr.Aziz Fellah</li>
    <li><b>Office hours: </b>By appointment or
              <ul>
                <li>Monday : 10:00 AM - 12:00 PM</li>
                <li>Wednesday : 10:00 AM - 12:00 PM</li>
                <li>Friday : 10:00 AM - 12:00 PM and 03:00 PM - 04:00 PM</li> 
              </ul>
     </li>
     <li><b>Email: </b>afellah@nwmissouri.edu</li>
     <li><b>Office: </b>Colden Hall 2290 </li>
     <li><b>Teaching Assistant: </b>Raja Srikar Karthik Chinta</li>
  </ul>
</div>
</div>