.isEnabled{
border-radius: 0;color:rgb(246, 250, 246);font-size: 20px;text-align: left;
}
.isDisabled{
    border-radius: 0;color:rgb(0, 5, 0);font-size: 20px;text-align: left;background-color: rgb(251, 249, 252) !important;
}