<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a class="btn btn-success btn-block isEnabled" ><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-1</b></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a class="btn btn-success btn-block isDisabled" ><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-2</b></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
       <a class="btn btn-success btn-block isDisabled"><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-3</b></a>
    </div>
  </div>
    <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <a class="btn btn-success btn-block isDisabled"><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-4</b></a>
          </div>
    </div>
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-success btn-block isDisabled"><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-5</b></a>
            </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <a class="btn btn-success btn-block isDisabled"><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-6</b></a>
      </div>
    </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-success btn-block isDisabled"><img src="../../assets/moduletick.png" style="height:20px;width:20px;padding-right: 4px"><b>Module-7</b></a>
                </div>
            </div>
        </div>
</div>
