.isEnabled{
color:rgb(246, 250, 246) !important;font-size: 20px;text-align: left;background-color: green !important;
}
.isDisabled{
    color:rgb(0, 5, 0);font-size: 20px;text-align: left;background-color: rgb(251, 249, 252) !important;
}
.padding{
    padding-right: 10px;
    padding-bottom: 3px;
}