<div class="container">
<div class="row">
  <div class="col-md-1"></div>
<div class="card col-md-10">
    <div class="card-header">
      <img src="../../assets/modules.png">
      <b>Module 0{{message}}</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#tutorial"><img src="../../assets/tutorial.png">Module0{{message}} Tutorial</a></li>
      <li class="list-group-item"><a href="#chapter1"><img src="../../assets/chapter.png">chapter {{message}}.1</a></li>
      <li class="list-group-item"><a href="#chapter2"><img src="../../assets/chapter.png">chapter {{message}}.2</a></li>
      <li class="list-group-item"><a href="#Inclass"><img src="../../assets/Inclass.png">InclassPractice 0{{message}}</a></li>
      <li class="list-group-item"><a href="#Assignment"><img src="../../assets/assignment.png">Assignment A0{{message}}</a></li>
      <li class="list-group-item"><a href="#Quiz"><img src="../../assets/Quiz.png">Quiz Q0{{message}}</a></li>
    </ul>
  </div>
  </div>
  </div>
